body{
    margin: 0;
    height: 100%;
    background-color: #fff;
    color: black;
    font-size: 16px;
    width:70% ;
    max-width: 980px;
    min-width: 500px;
    overflow-y:auto;/*horizontal scrollbar*/
    overflow-x: hidden;/*hide vertical scrollbar*/
    
}


h1{
    font-size: 50px;
    text-align: center;
}
h2{
    font-size: 15px;
}
#header{
    background-color:black;
    color: #fff;
    width: 100vw; /*full page width*/
    margin: 0 auto;
    height: 70px;
    padding:.5rem 0;
    min-width: 500px;
}


#header h3{
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    
    flex-wrap: nowrap;
    padding-left: 30px;

    
   
    
    
}
  

     .button-container{
        text-align: center;
        display: flex;
        gap: 15px;
        flex-wrap: nowrap ;
        padding-right:40px ;
        justify-content: end;
        width: 25px;

     }
     

     #sect{
        background-color:#dadbf1 ;
        text-align: center;
      padding: .5rem 0 1.5rem 0;
      min-width: 500px;
      width: 100vw; /*full page width*/
          display: flex;
          column-gap: 10px;
       flex-direction: column;

         

    
     }
     #sect input[type="Search"]{
        width: 450px;
        height: 40px;
        border: 1px solid black;
        padding: .5em solid black;
        
 }


 footer{
    background-color: #100e0e;
    color: #fff;
    width: 100vw; /*full page width*/
    
    
 }
 .title{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom:0.623rem;
 }
 ul{
    list-style: none;
    padding: 0;
    
 }
 footer a{
    text-decoration: none;
    color: #fff;

 }
 .col{
   font-size: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    padding: 1.25rem
    
    
 }
 .col1{
     padding: 1.25rem;
     min-width: 12.5rem;
     flex-direction: column;
 }
 .col2{
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem;
    justify-content: center;
    width: 100vw; /*full page width*/

 }
 
 
 
 
 
 img{
    max-width: 100%;
    width: 45px;
    float: left;
    justify-content: space-;
}
    


.columns{
   width: 100vw;/*full page width*/
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   flex-wrap: nowrap;
   padding-top: 50px;
   min-width: 500px;
}
  
   
   
#colo1{
   width: 300px;
   height: 200px;

}
#colo2{
width:300px;
height: 150px;
}
.columns h2{
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.columns p{
   width: 250px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   position: relative;
   left:49px;
}
a{
   text-decoration: none;
   

}